.App {
  text-align: center;
  background-color: #FFFEF5;
}

.navDropShadow {
  box-shadow: 0px 15px 15px #0000001a
}

.nav-dropdown-override::after {
  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}

.navbar-brand {
  display: contents !important;
  position: absolute !important;
}

@media only screen and (max-width: 320px) {
  .navbar {
    padding: 0.5rem 0.3rem !important;
  }
}

.secondaryBackground {
  background-color: #e8dfd0;
}

.branchGraphic1 {
  width: 50%;
}

.branchGraphic2 {
  width: 20%;
  transform: rotate(-135deg);
}
